---
---

@import 'minima';

@import url('https://use.typekit.net/lrc5xlz.css');

body {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  &[id] > a {
    display: none;
  }
  &[id]:hover > a {
    display: inline;
  }
}

.site-title {
  letter-spacing: unset;
}

.site-header {
  border-top: none;
}

.highlight code, p code.highlighter-rouge {
  font-family: input-mono-narrow, monospace;
  font-weight: 400;
  font-style: normal;
}

.highlighter-rouge .highlight, code, pre {
  background: #fafafa;
}

.highlighter-rouge .highlight .err {
  color: inherit;
  background: inherit;
}

.home p:nth-child(1) {
  text-indent: -0.3em;
}

.post p, .post-list p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.post-list h3 {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.post-title {
  font-size: 2.5em;
  letter-spacing: normal;
  line-height: 1.1em;
}

.post-content h1 {
  font-size: 2em;
}

.post-content h2 {
  font-size: 1.5em;
}

.post-content img {
  padding: 1em 0 1em 0;
}
