@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1[id] > a, h2[id] > a {
  display: none;
}
h1[id]:hover > a, h2[id]:hover > a {
  display: inline;
}

blockquote {
  margin: 1em 0;
  font-size: 1em;
  font-style: normal;
  letter-spacing: inherit;
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: 740px;
}

.site-title {
  letter-spacing: unset;
}

.site-header {
  border: none;
}

.highlight code, p code.highlighter-rouge {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.highlighter-rouge .highlight, code, pre {
  background: #fafafa;
}

.highlighter-rouge .highlight .err {
  color: inherit;
  background: inherit;
}

.home p:nth-child(1) {
  text-indent: -0.3em;
}

.post p, .post-list p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.post-list h3 {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.post-title {
  font-size: 2.5em;
  letter-spacing: normal;
  line-height: 1.1em;
}

.post-content h1 {
  font-size: 2em;
}

.post-content h2 {
  font-size: 1.5em;
}

.post-content img {
  padding: 1em 0 1em 0;
}

a, a:visited {
  color: inherit;
}

.theme-1 ::selection {
  background-color: rgb(129, 226.6363636364, 255);
}
.theme-1 ::-moz-selection {
  background-color: rgb(129, 226.6363636364, 255);
}
.theme-1 .page-content a, .theme-1 .page-content a:visited {
  color: #00b3e7;
}
.theme-1 .site-header {
  background-color: rgb(129, 226.6363636364, 255);
}

.theme-2 ::selection {
  background-color: rgb(128.2107623318, 240.5784753363, 247.7892376682);
}
.theme-2 ::-moz-selection {
  background-color: rgb(128.2107623318, 240.5784753363, 247.7892376682);
}
.theme-2 .page-content a, .theme-2 .page-content a:visited {
  color: #0cc7d3;
}
.theme-2 .site-header {
  background-color: rgb(128.2107623318, 240.5784753363, 247.7892376682);
}

.theme-3 ::selection {
  background-color: rgb(105, 255, 236.884057971);
}
.theme-3 ::-moz-selection {
  background-color: rgb(105, 255, 236.884057971);
}
.theme-3 .page-content a, .theme-3 .page-content a:visited {
  color: #00cfb6;
}
.theme-3 .site-header {
  background-color: rgb(105, 255, 236.884057971);
}

.theme-4 ::selection {
  background-color: rgb(255, 225.4761904762, 219);
}
.theme-4 ::-moz-selection {
  background-color: rgb(255, 225.4761904762, 219);
}
.theme-4 .page-content a, .theme-4 .page-content a:visited {
  color: #ff6442;
}
.theme-4 .site-header {
  background-color: rgb(255, 225.4761904762, 219);
}

.theme-5 ::selection {
  background-color: rgb(243, 242.4, 250.6);
}
.theme-5 ::-moz-selection {
  background-color: rgb(243, 242.4, 250.6);
}
.theme-5 .page-content a, .theme-5 .page-content a:visited {
  color: #8781d3;
}
.theme-5 .site-header {
  background-color: rgb(243, 242.4, 250.6);
}

.theme-6 ::selection {
  background-color: rgb(192.1084337349, 202.0843373494, 209.8915662651);
}
.theme-6 ::-moz-selection {
  background-color: rgb(192.1084337349, 202.0843373494, 209.8915662651);
}
.theme-6 .page-content a, .theme-6 .page-content a:visited {
  color: #687f91;
}
.theme-6 .site-header {
  background-color: rgb(192.1084337349, 202.0843373494, 209.8915662651);
}

/*# sourceMappingURL=main.css.map */