<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    <script type="text/javascript">
      function anchor() {
        for (let header of document.querySelectorAll('h1[id], h2[id]')) {
          header.innerHTML += ` <a href="#${header.id}" aria-hidden="true">#</a>`;
        }
      }
      window.addEventListener('load', anchor);
    </script>
    {%- if page.stan -%}
    <script type="text/javascript">
      function stan() {
        var keywords = ['data', 'model', 'parameters', 'transformed'];
        var types = ['matrix', 'real', 'simplex', 'vector'];
        document
          .querySelectorAll('.language-c .n')
          .forEach(function(element) {
            if (keywords.indexOf(element.innerText) != -1) {
              element.style.cssText = 'font-weight: 600';
            }
            if (types.indexOf(element.innerText) != -1) {
              element.className += ' kt';
            }
          });
      };
      window.addEventListener('load', stan);
    </script>
    {%- endif -%}
    {{ page.body }}
  </body>
</html>
