<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
  {%- if page.javascript -%}
    <script type="text/javascript">
      {{ page.javascript }}
    </script>
  {%- endif -%}
  <script type="text/javascript">
    function anchor() {
      for (let header of document.querySelectorAll('h1[id]')) {
        header.innerHTML += ` <a href="#${header.id}" aria-hidden="true">#</a>`;
      }
    }
    window.onload = anchor;
  </script>
</html>
